/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, p, blockquote {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ===== BASE STYLES ===== */

body, footer {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(214, 17%, 92%);
}

h1, img {
    margin-top: 1rem;
}

.intro, .testimonials-grid {
    max-width: 350px;
    margin: auto;
}


/* ===== HEADER ===== */

.intro {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: hsl(219, 29%, 14%);
}

h1 {
    font-size: clamp(2.3rem, 1.8vw + 1.5rem, 3.5rem);
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: hsl(219, 29%, 14%);
    text-shadow: 5px 4px 6px #A8A8A8;
}

.introPar {
    font-size: clamp(1.3rem, 0.8vw + 0.9rem, 1.8rem);
    line-height: 1.3;
    font-weight: 500;
    color: hsl(219, 29%, 14%);
}

/* ===== CONTAINER ===== */

.testimonials {
    margin-top: 3rem;
}

.profile {
    display: flex;
}

.avatar {
    display: block;
}

.avatar {
    border-radius: 50%;
    margin: 0;
}

.name-title {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.name, .title {
    margin: 0;
}

.card {
    margin-bottom: 2.3rem;
    padding: 2.3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    box-shadow: 35px 35px 40px 10px #C4C4C4;
}

h2 {
    /* font-size: clamp(1.3rem, 0.7vw + 0.9rem, 1.6rem); */ 
    font-weight: 600;
    margin: 0;
}

.card p {
    /* font-size: clamp(0.8rem, 0.4vw + 0.8rem, 1.5rem); */
    margin: 0;
}

.name {
    font-size: 1.1rem;
    font-weight: 500;
}

.title {
    font-size: 0.9rem;
    font-weight: 400;
}

.card.Daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(260, 100%, 95%);
}

.avatar.Daniel {
    border: 2.5px solid #B28BE8;
}

.card.Jonathan {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.avatar.Jonathan {
    border: 2.5px solid #808DA8;
}

.card.Jeanette {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

.avatar.Jeanette {
    border: 2.5px solid hsl(217, 19%, 35%);
}

.card.Patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.avatar.Patrick {
    border: 2.5px solid hsl(263, 55%, 52%);
}

.card.Kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

.avatar.Kira {
    border: 2.5px solid hsl(217, 19%, 35%);
}



/* ===== TABLET LAYOUT ===== */

@media (min-width: 750px) {
    .intro {
        max-width: 525px;
    }


    .introPar {
    line-height: 1.3;
    }
    
    .testimonials-grid {
        margin: auto;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "Daniel     Daniel      Jonathan"
            "Jeanette   Patrick     Patrick"
            "Kira       Kira        ."; 
            
        gap: 1.5rem;
        width: 900px;
        max-width: 90%;

    }

    .card {
        margin: 0;
    }

    .card.Daniel {
        grid-area: Daniel;
        background-image: url(./images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 85% 0%;
        background-size: 135px; 
    }

   

    .card.Jonathan {
        grid-area: Jonathan;
    }

    .card.Jeanette {
        grid-area: Jeanette;
    }

    .card.Patrick {
        grid-area: Patrick;
    }

    .card.Kira {
        grid-area: Kira;
    }
}


/* ===== DESKTOP LAYOUT ===== */

@media (min-width: 1100px) {
    .intro {
        max-width: 700px;
    }


    .introPar {
    line-height: 1.3;
    }
    
    .testimonials-grid {
        margin: auto;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "Daniel     Daniel      Jonathan       Kira"
            "Jeanette   Patrick     Patrick        Kira";   
        
        gap: 1.5rem;
        width: 1250px;
        max-width: 90%;

    }

    .card {
        margin: 0;
    }



   
    .card.Daniel {
        grid-area: Daniel;
        background-image: url(./images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 85% 0%;
        background-size: 135px; 
    }

    .card.Jonathan {
        grid-area: Jonathan;
    }

    .card.Jeanette {
        grid-area: Jeanette;
    }

    .card.Patrick {
        grid-area: Patrick;
    }

    .card.Kira {
        grid-area: Kira;
    }
}



/* ===== FOOTER ===== */

footer {
  margin-top: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
