/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, p, blockquote {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ===== BASE STYLES ===== */

body, footer {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(214, 17%, 92%);
}

h1, h2, p, img {
    margin-top: 1rem;
}

.intro, .testimonials-grid {
    max-width: 350px;
    margin: auto;
}


/* ===== HEADER ===== */

.intro {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: hsl(219, 29%, 14%);
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.introPar {
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 400;
}

/* ===== CONTAINER ===== */

.testimonials {
    margin-top: 3rem;
}

.profile {
    display: flex;
}

.avatar {
    display: block;
}

.avatar {
    border-radius: 50%;
    margin: 0;
}

.name-title {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.name, .title {
    margin: 0;
}

.card {
    margin-bottom: 2.3rem;
    padding: 2.3rem;
    border-radius: 12px;
}

.card.Daniel {
    background-color: hsl(263, 55%, 52%);
    color: white;
}

.card.Jonathan {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.card.Jeanette {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

.card.Patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.card.Kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

/* ===== DESKTOP LAYOUT ===== */










/* ===== FOOTER ===== */

footer {
  margin-top: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
