/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, p, blockquote {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ===== BASE STYLES ===== */

body, footer {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(214, 17%, 92%);
}

h1, h2, p, img {
    margin-top: 1rem;
}

.intro, .testimonials-grid {
    max-width: 350px;
    margin: auto;
}


/* ===== HEADER ===== */

.intro {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: hsl(219, 29%, 14%);
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.introPar {
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 400;
}

/* ===== CONTAINER ===== */

.testimonials {
    margin-top: 3rem;
}

.profile {
    display: flex;
}

.avatar {
    display: block;
}

.avatar {
    border-radius: 50%;
    margin: 0;
}

.name-title {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.name, .title {
    margin: 0;
}

.card {
    margin-bottom: 2.3rem;
    padding: 2.3rem;
    border-radius: 12px;
}

h2 {
    font-weight: 500;
}

.name {
    font-size: 1.1rem;
    font-weight: 500;
}

.title {
    font-size: 0.9rem;
    font-weight: 400;
}

.card.Daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(260, 100%, 95%);
}

.avatar.Daniel {
    border: 2.5px solid #B28BE8;
}

.card.Jonathan {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.avatar.Jonathan {
    border: 2.5px solid #808DA8;
}

.card.Jeanette {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

.avatar.Jeanette {
    border: 2.5px solid hsl(217, 19%, 35%);
}

.card.Patrick {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.avatar.Patrick {
    border: 2.5px solid hsl(263, 55%, 52%);
}

.card.Kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

.avatar.Kira {
    border: 2.5px solid hsl(217, 19%, 35%);
}



/* ===== TABLET LAYOUT ===== */

@media (min-width: 750px) {
    .testimonials-grid {
        margin: auto;
        display: grid; 
        grid-template-columns: repeat (3, minmax(300px, 1fr));
        grid-template-rows: auto auto auto; 
        grid-gap: 2rem;
        max-width: 900px;
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card.Daniel {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .card.Jonathan {
        grid-column: 3;
        grid-row: 1;
    }

    .card.Jeanette {
        grid-column: 1;
        grid-row: 2;
    }

    .card.Patrick {
        grid-column: 2 / span 2;
    }

    .card.Kira {
        grid-column: 1 / span 2;
    }
}




/* ===== DESKTOP LAYOUT ===== */

/* @media (min-width: 1100px) {
    .testimonials-grid {
        margin: auto;
        display: grid; 
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 400px 400px; 
        grid-gap: 2rem;
        max-width: 100px;
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card.Daniel {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .card.Jonathan {
        grid-column: 3;
        grid-row: 1;
    }

    .card.Jeanette {
        grid-column: 1;
        grid-row: 2;
    }

    .card.Patrick {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    .card.Kira {
        grid-column: 4;
        grid-row: 1;
    }

}*/











/* ===== FOOTER ===== */

footer {
  margin-top: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
